body {
  margin: 0;
  font-family: 'Cormorant Garamond', 'Helvetica Neue', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}

.app {
  display: flex;
  font-size: 2rem;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.app-sidebar {
  width: 20%;
  max-width: 500px;
  background-color: #383e49;
  overflow: auto;
  padding: 20px;
}

.app-editor {
  width: 100%;
}
.app-editor--cover-image {
  height: 220px;
}
.app-editor--area {
  height: calc(100% - 220px);
}
